Repository testifysec/judge-helm-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-deps-check, validate-service-urls, validate-database-separation, validate-external-secrets, check-latest-tags

helm-deps-check:
  name: Check Helm Dependencies
  entry: make check-deps
  language: system
  pass_filenames: false

validate-service-urls:
  name: Validate Service URLs
  entry: ./scripts/validate_service_urls.sh
  language: script
  pass_filenames: false

validate-database-separation:
  name: Validate Database Separation
  entry: python3 ./scripts/validate_database_separation.py
  language: system
  pass_filenames: false

validate-external-secrets:
  name: Validate External Secrets
  entry: ./scripts/validate_external_secrets.sh
  language: script
  pass_filenames: false

check-latest-tags:
  name: Check for :latest tags
  entry: bash -c 'grep -r "image:.*:latest" charts/ --include="*.yaml" && echo "‚ùå Found :latest tags!" && exit 1 || exit 0'
  language: system
  pass_filenames: false

test: add comprehensive resource validation for namespace scoping and API versions
  charts/dex/tests/network-policy-api_test.yaml
  charts/judge-preflight/tests/cluster-scoped-resources_test.yaml
  charts/judge/charts/archivista-1.6.18.tgz
  charts/judge/charts/dapr-1.14.5.tgz
  charts/judge/charts/fulcio-2.3.31.tgz
  charts/judge/charts/judge-ai-proxy-0.1.1.tgz
  charts/judge/charts/judge-api-1.6.19.tgz
  charts/judge/charts/judge-preflight-0.1.17.tgz
  charts/judge/charts/judge-web-1.6.4.tgz
  charts/judge/charts/kratos-1.6.31.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.9.tgz
  charts/judge/charts/localstack-0.1.10.tgz
  charts/judge/charts/postgresql-0.1.1.tgz
  charts/judge/charts/preview-router-0.1.1.tgz
  charts/judge/charts/tsa-1.6.9.tgz
  charts/judge/tests/resource-validation_test.yaml
  scripts/validate-resources.sh
Due: helm-deps-check, check-latest-tags

chore: remove dex chart from judge platform
  charts/dex/.helmignore
  charts/dex/Chart.yaml
  charts/dex/LICENSE
  charts/dex/README.md
  charts/dex/README.md.gotmpl
  charts/dex/ci/config-secret-values.yaml
  charts/dex/ci/label-annotations-values.yaml
  charts/dex/ci/no-config-secret.yaml
  charts/dex/ci/test-values.yaml
  charts/dex/templates/NOTES.txt
  charts/dex/templates/_helpers.tpl
  charts/dex/templates/deployment.yaml
  charts/dex/templates/hpa.yaml
  charts/dex/templates/networkpolicy.yaml
  charts/dex/templates/poddisruptionbudget.yaml
  charts/dex/templates/rbac.yaml
  charts/dex/templates/secret.yaml
  charts/dex/templates/service.yaml
  charts/dex/templates/serviceaccount.yaml
  charts/dex/templates/servicemonitor.yaml
  charts/dex/templates/tests/no-config-secret.yaml
  charts/dex/tests/network-policy-api_test.yaml
  charts/dex/values.yaml
  charts/judge/Chart.yaml
  charts/judge/charts/archivista-1.6.18.tgz
  charts/judge/charts/dapr-1.14.5.tgz
  charts/judge/charts/fulcio-2.3.31.tgz
  charts/judge/charts/judge-ai-proxy-0.1.1.tgz
  charts/judge/charts/judge-api-1.6.19.tgz
  charts/judge/charts/judge-preflight-0.1.17.tgz
  charts/judge/charts/judge-web-1.6.4.tgz
  charts/judge/charts/kratos-1.6.31.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.9.tgz
  charts/judge/charts/localstack-0.1.10.tgz
  charts/judge/charts/postgresql-0.1.1.tgz
  charts/judge/charts/preview-router-0.1.1.tgz
  charts/judge/charts/tsa-1.6.9.tgz
  charts/judge/tests/resource-validation_test.yaml
Due: helm-deps-check, validate-service-urls, validate-database-separation, check-latest-tags

feat(dapr): enable namespace-scoped RBAC by default
  charts/dapr/Chart.yaml
  charts/dapr/templates/NOTES.txt
  charts/dapr/values.yaml
  charts/judge/Chart.lock
  charts/judge/Chart.yaml
  charts/judge/charts/archivista-1.6.18.tgz
  charts/judge/charts/dapr-1.14.5.tgz
  charts/judge/charts/dapr-1.14.6.tgz
  charts/judge/charts/fulcio-2.3.31.tgz
  charts/judge/charts/judge-ai-proxy-0.1.1.tgz
  charts/judge/charts/judge-api-1.6.19.tgz
  charts/judge/charts/judge-preflight-0.1.17.tgz
  charts/judge/charts/judge-web-1.6.4.tgz
  charts/judge/charts/kratos-1.6.31.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.9.tgz
  charts/judge/charts/localstack-0.1.10.tgz
  charts/judge/charts/postgresql-0.1.1.tgz
  charts/judge/charts/preview-router-0.1.1.tgz
  charts/judge/charts/tsa-1.6.9.tgz
  charts/judge/values.yaml
Due: helm-deps-check, validate-service-urls, validate-database-separation, check-latest-tags

feat(dapr): disable by default to remove cluster-admin requirement
  charts/archivista/Chart.yaml
  charts/archivista/values.yaml
  charts/judge/Chart.lock
  charts/judge/Chart.yaml
  charts/judge/charts/archivista-1.6.18.tgz
  charts/judge/charts/archivista-1.6.19.tgz
  charts/judge/charts/dapr-1.14.6.tgz
  charts/judge/charts/fulcio-2.3.31.tgz
  charts/judge/charts/judge-ai-proxy-0.1.1.tgz
  charts/judge/charts/judge-api-1.6.19.tgz
  charts/judge/charts/judge-preflight-0.1.17.tgz
  charts/judge/charts/judge-web-1.6.4.tgz
  charts/judge/charts/kratos-1.6.31.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.9.tgz
  charts/judge/charts/localstack-0.1.10.tgz
  charts/judge/charts/postgresql-0.1.1.tgz
  charts/judge/charts/preview-router-0.1.1.tgz
  charts/judge/charts/tsa-1.6.9.tgz
  charts/judge/values.yaml
Due: helm-deps-check, validate-service-urls, validate-database-separation, check-latest-tags

feat(fulcio,tsa): enable GitHub Actions OIDC and fix TSA Istio sidecar injection
  charts/judge/Chart.lock
  charts/judge/Chart.yaml
  charts/judge/charts/archivista-1.6.19.tgz
  charts/judge/charts/dapr-1.14.6.tgz
  charts/judge/charts/fulcio-2.3.31.tgz
  charts/judge/charts/judge-ai-proxy-0.1.1.tgz
  charts/judge/charts/judge-api-1.6.19.tgz
  charts/judge/charts/judge-preflight-0.1.17.tgz
  charts/judge/charts/judge-web-1.6.4.tgz
  charts/judge/charts/kratos-1.6.31.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.9.tgz
  charts/judge/charts/localstack-0.1.10.tgz
  charts/judge/charts/postgresql-0.1.1.tgz
  charts/judge/charts/preview-router-0.1.1.tgz
  charts/judge/charts/tsa-1.6.10.tgz
  charts/judge/charts/tsa-1.6.9.tgz
  charts/tsa/Chart.yaml
  charts/tsa/templates/tsa-deployment.yaml
Due: helm-deps-check, check-latest-tags

fix(fulcio): make config.contents optional in schema for new YAML format
  charts/fulcio/Chart.yaml
  charts/fulcio/values.schema.json
  charts/judge/Chart.lock
  charts/judge/Chart.yaml
  charts/judge/charts/archivista-1.6.19.tgz
  charts/judge/charts/dapr-1.14.6.tgz
  charts/judge/charts/fulcio-2.3.31.tgz
  charts/judge/charts/fulcio-2.3.32.tgz
  charts/judge/charts/judge-ai-proxy-0.1.1.tgz
  charts/judge/charts/judge-api-1.6.19.tgz
  charts/judge/charts/judge-preflight-0.1.17.tgz
  charts/judge/charts/judge-web-1.6.4.tgz
  charts/judge/charts/kratos-1.6.31.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.9.tgz
  charts/judge/charts/localstack-0.1.10.tgz
  charts/judge/charts/postgresql-0.1.1.tgz
  charts/judge/charts/preview-router-0.1.1.tgz
  charts/judge/charts/tsa-1.6.10.tgz
Due: helm-deps-check, check-latest-tags

feat(fulcio): route VirtualService to gRPC port 5554 for witness support
  charts/judge/Chart.yaml
  charts/judge/charts/archivista-1.6.19.tgz
  charts/judge/charts/dapr-1.14.6.tgz
  charts/judge/charts/fulcio-2.3.32.tgz
  charts/judge/charts/judge-ai-proxy-0.1.1.tgz
  charts/judge/charts/judge-api-1.6.19.tgz
  charts/judge/charts/judge-preflight-0.1.17.tgz
  charts/judge/charts/judge-web-1.6.4.tgz
  charts/judge/charts/kratos-1.6.31.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.9.tgz
  charts/judge/charts/localstack-0.1.10.tgz
  charts/judge/charts/postgresql-0.1.1.tgz
  charts/judge/charts/preview-router-0.1.1.tgz
  charts/judge/charts/tsa-1.6.10.tgz
  charts/judge/templates/istio-virtualservices.yaml
Due: helm-deps-check, check-latest-tags

Revert Fulcio VirtualService to port 80 for grpc-gateway compatibility
  charts/judge/Chart.yaml
  charts/judge/charts/archivista-1.6.19.tgz
  charts/judge/charts/dapr-1.14.6.tgz
  charts/judge/charts/fulcio-2.3.32.tgz
  charts/judge/charts/judge-ai-proxy-0.1.1.tgz
  charts/judge/charts/judge-api-1.6.19.tgz
  charts/judge/charts/judge-preflight-0.1.17.tgz
  charts/judge/charts/judge-web-1.6.4.tgz
  charts/judge/charts/kratos-1.6.31.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.9.tgz
  charts/judge/charts/localstack-0.1.10.tgz
  charts/judge/charts/postgresql-0.1.1.tgz
  charts/judge/charts/preview-router-0.1.1.tgz
  charts/judge/charts/tsa-1.6.10.tgz
  charts/judge/templates/istio-virtualservices.yaml
Due: helm-deps-check, check-latest-tags

feat(fulcio): Switch to native gRPC port (5554) with NLB support
  charts/judge/Chart.yaml
  charts/judge/charts/archivista-1.6.19.tgz
  charts/judge/charts/dapr-1.14.6.tgz
  charts/judge/charts/fulcio-2.3.32.tgz
  charts/judge/charts/judge-ai-proxy-0.1.1.tgz
  charts/judge/charts/judge-api-1.6.19.tgz
  charts/judge/charts/judge-preflight-0.1.17.tgz
  charts/judge/charts/judge-web-1.6.4.tgz
  charts/judge/charts/kratos-1.6.31.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.9.tgz
  charts/judge/charts/localstack-0.1.10.tgz
  charts/judge/charts/postgresql-0.1.1.tgz
  charts/judge/charts/preview-router-0.1.1.tgz
  charts/judge/charts/tsa-1.6.10.tgz
  charts/judge/templates/istio-virtualservices.yaml
Due: helm-deps-check, check-latest-tags

fix(tsa): Fix TSA VirtualService service name to include -serve suffix
  charts/judge/Chart.yaml
  charts/judge/charts/archivista-1.6.19.tgz
  charts/judge/charts/dapr-1.14.6.tgz
  charts/judge/charts/fulcio-2.3.32.tgz
  charts/judge/charts/judge-ai-proxy-0.1.1.tgz
  charts/judge/charts/judge-api-1.6.19.tgz
  charts/judge/charts/judge-preflight-0.1.17.tgz
  charts/judge/charts/judge-web-1.6.4.tgz
  charts/judge/charts/kratos-1.6.31.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.9.tgz
  charts/judge/charts/localstack-0.1.10.tgz
  charts/judge/charts/postgresql-0.1.1.tgz
  charts/judge/charts/preview-router-0.1.1.tgz
  charts/judge/charts/tsa-1.6.10.tgz
  charts/judge/templates/istio-virtualservices.yaml
Due: helm-deps-check, check-latest-tags

test(judge-api): add failing tests for manual secret overrides (TDD red)
  charts/judge/tests/manual-secret-overrides_test.yaml
Due: helm-deps-check, check-latest-tags

feat(helm): implement manual secret override for judge-api
  TCR-LEARNINGS.md
  charts/judge-api/Chart.yaml
  charts/judge-api/templates/_helpers.tpl
  charts/judge-api/values.yaml
  charts/judge/Chart.lock
  charts/judge/Chart.yaml
  charts/judge/charts/archivista-1.6.19.tgz
  charts/judge/charts/dapr-1.14.6.tgz
  charts/judge/charts/fulcio-2.3.32.tgz
  charts/judge/charts/judge-ai-proxy-0.1.1.tgz
  charts/judge/charts/judge-api-1.6.19.tgz
  charts/judge/charts/judge-api-1.6.20.tgz
  charts/judge/charts/judge-preflight-0.1.17.tgz
  charts/judge/charts/judge-web-1.6.4.tgz
  charts/judge/charts/kratos-1.6.31.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.9.tgz
  charts/judge/charts/localstack-0.1.10.tgz
  charts/judge/charts/postgresql-0.1.1.tgz
  charts/judge/charts/preview-router-0.1.1.tgz
  charts/judge/charts/tsa-1.6.10.tgz
  charts/judge/templates/manual-secrets-config.yaml
  charts/judge/tests/manual-secret-overrides_test.yaml
  charts/judge/tests/parent-manual-test.yaml
  charts/judge/tests/test-values.yaml
  charts/judge/values.yaml
Due: helm-deps-check, validate-service-urls, validate-database-separation, check-latest-tags

feat(helm): add manual secret overrides for all services
  charts/archivista/Chart.yaml
  charts/archivista/templates/_helpers.tpl
  charts/judge/Chart.lock
  charts/judge/Chart.yaml
  charts/judge/charts/archivista-1.6.19.tgz
  charts/judge/charts/archivista-1.6.20.tgz
  charts/judge/charts/dapr-1.14.6.tgz
  charts/judge/charts/fulcio-2.3.32.tgz
  charts/judge/charts/judge-ai-proxy-0.1.1.tgz
  charts/judge/charts/judge-api-1.6.20.tgz
  charts/judge/charts/judge-preflight-0.1.17.tgz
  charts/judge/charts/judge-web-1.6.4.tgz
  charts/judge/charts/kratos-1.6.31.tgz
  charts/judge/charts/kratos-1.6.32.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.9.tgz
  charts/judge/charts/localstack-0.1.10.tgz
  charts/judge/charts/postgresql-0.1.1.tgz
  charts/judge/charts/preview-router-0.1.1.tgz
  charts/judge/charts/tsa-1.6.10.tgz
  charts/judge/templates/manual-secrets-config.yaml
  charts/judge/tests/archivista-manual-overrides_test.yaml
  charts/judge/values.yaml
  charts/kratos/Chart.yaml
  charts/kratos/templates/_helpers.tpl
  charts/kratos/templates/cleanup-cron-job.yaml
  charts/kratos/templates/deployment-kratos.yaml
  charts/kratos/templates/job-migration.yaml
  charts/kratos/templates/statefulset-mail.yaml
Due: helm-deps-check, validate-service-urls, validate-database-separation, check-latest-tags

Delete TCR-LEARNINGS.md
  TCR-LEARNINGS.md
Due: none

feat(helm): add customer-configurable S3 bucket names
  charts/judge/README.md
  charts/judge/templates/_helpers.tpl
  charts/judge/tests/custom-bucket-names_test.yaml
  charts/judge/values.yaml
Due: helm-deps-check, validate-service-urls, validate-database-separation, check-latest-tags

fix(kratos): improve init container OIDC validation with optional support
  charts/judge/Chart.lock
  charts/judge/Chart.yaml
  charts/judge/charts/archivista-1.6.19.tgz
  charts/judge/charts/dapr-1.14.6.tgz
  charts/judge/charts/fulcio-2.3.32.tgz
  charts/judge/charts/judge-ai-proxy-0.1.1.tgz
  charts/judge/charts/judge-api-1.6.19.tgz
  charts/judge/charts/judge-preflight-0.1.17.tgz
  charts/judge/charts/judge-web-1.6.4.tgz
  charts/judge/charts/kratos-1.6.31.tgz
  charts/judge/charts/kratos-1.6.32.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.9.tgz
  charts/judge/charts/localstack-0.1.10.tgz
  charts/judge/charts/postgresql-0.1.1.tgz
  charts/judge/charts/preview-router-0.1.1.tgz
  charts/judge/charts/tsa-1.6.10.tgz
  charts/kratos/Chart.yaml
  charts/kratos/templates/deployment-kratos.yaml
Due: helm-deps-check, check-latest-tags

docs(kratos): show ALL required secret keys in init container error
  charts/judge/Chart.lock
  charts/judge/Chart.yaml
  charts/judge/charts/archivista-1.6.19.tgz
  charts/judge/charts/dapr-1.14.6.tgz
  charts/judge/charts/fulcio-2.3.32.tgz
  charts/judge/charts/judge-ai-proxy-0.1.1.tgz
  charts/judge/charts/judge-api-1.6.19.tgz
  charts/judge/charts/judge-preflight-0.1.17.tgz
  charts/judge/charts/judge-web-1.6.4.tgz
  charts/judge/charts/kratos-1.6.32.tgz
  charts/judge/charts/kratos-1.6.33.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.9.tgz
  charts/judge/charts/localstack-0.1.10.tgz
  charts/judge/charts/postgresql-0.1.1.tgz
  charts/judge/charts/preview-router-0.1.1.tgz
  charts/judge/charts/tsa-1.6.10.tgz
  charts/kratos/Chart.yaml
  charts/kratos/templates/deployment-kratos.yaml
Due: helm-deps-check, check-latest-tags

fix(kratos): use correct secret generation matching README (openssl rand -hex 16)
  charts/judge/Chart.lock
  charts/judge/Chart.yaml
  charts/judge/charts/archivista-1.6.19.tgz
  charts/judge/charts/dapr-1.14.6.tgz
  charts/judge/charts/fulcio-2.3.32.tgz
  charts/judge/charts/judge-ai-proxy-0.1.1.tgz
  charts/judge/charts/judge-api-1.6.19.tgz
  charts/judge/charts/judge-preflight-0.1.17.tgz
  charts/judge/charts/judge-web-1.6.4.tgz
  charts/judge/charts/kratos-1.6.33.tgz
  charts/judge/charts/kratos-1.6.34.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.9.tgz
  charts/judge/charts/localstack-0.1.10.tgz
  charts/judge/charts/postgresql-0.1.1.tgz
  charts/judge/charts/preview-router-0.1.1.tgz
  charts/judge/charts/tsa-1.6.10.tgz
  charts/kratos/Chart.yaml
  charts/kratos/templates/deployment-kratos.yaml
Due: helm-deps-check, check-latest-tags

feat(judge-api): add oidc github app authentication support
  charts/judge-api/templates/_helpers.tpl
  charts/judge-api/templates/deployment.yaml
  charts/judge-api/templates/oidc-github-secret.yaml
  charts/judge-api/values.yaml
  charts/judge/charts/archivista-1.6.20.tgz
  charts/judge/charts/dapr-1.14.6.tgz
  charts/judge/charts/fulcio-2.3.32.tgz
  charts/judge/charts/judge-ai-proxy-0.1.1.tgz
  charts/judge/charts/judge-api-1.6.20.tgz
  charts/judge/charts/judge-preflight-0.1.17.tgz
  charts/judge/charts/judge-web-1.6.4.tgz
  charts/judge/charts/kratos-1.6.35.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.9.tgz
  charts/judge/charts/localstack-0.1.10.tgz
  charts/judge/charts/postgresql-0.1.1.tgz
  charts/judge/charts/preview-router-0.1.1.tgz
  charts/judge/charts/tsa-1.6.10.tgz
Due: helm-deps-check, validate-service-urls, validate-database-separation, check-latest-tags

fix: patch missing kratos-self-service secret
  charts/judge/Chart.lock
  charts/judge/Chart.yaml
  charts/kratos-selfservice-ui-node/Chart.yaml
  charts/kratos-selfservice-ui-node/templates/external-secret.yaml
  charts/kratos-selfservice-ui-node/templates/secret.yaml
Due: helm-deps-check, validate-external-secrets, check-latest-tags

chore: clean up customer-specific references from documentation
  CLAUDE.md
  DEVELOPMENT.md
  MARKETPLACE-ECR-SOLUTION.md
  charts/preview-router/BUILD.md
  charts/preview-router/DEPLOYMENT-STATUS.md
  charts/preview-router/DEPLOYMENT-TASKS.md
  charts/preview-router/QUICK-START.md
  docs/cross-account-iam-analysis.md
Due: helm-deps-check

Path conditions:
  helm-deps-check: any of: ^charts/
  validate-service-urls: any of: ^charts/.*values.*\.yaml$
  validate-database-separation: any of: ^charts/.*values.*\.yaml$
  validate-external-secrets: any of: ^charts/.*external-secret.*\.yaml$
  check-latest-tags: any of: ^charts/.*\.yaml$
