Repository testifysec/judge-helm-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-deps-check, validate-service-urls, validate-database-separation, validate-external-secrets, check-latest-tags

helm-deps-check:
  name: Check Helm Dependencies
  entry: make check-deps
  language: system
  pass_filenames: false

validate-service-urls:
  name: Validate Service URLs
  entry: ./scripts/validate_service_urls.sh
  language: script
  pass_filenames: false

validate-database-separation:
  name: Validate Database Separation
  entry: python3 ./scripts/validate_database_separation.py
  language: system
  pass_filenames: false

validate-external-secrets:
  name: Validate External Secrets
  entry: ./scripts/validate_external_secrets.sh
  language: script
  pass_filenames: false

check-latest-tags:
  name: Check for :latest tags
  entry: bash -c 'grep -r "image:.*:latest" charts/ --include="*.yaml" && echo "‚ùå Found :latest tags!" && exit 1 || exit 0'
  language: system
  pass_filenames: false

feat(helm): add explicit ServiceAccount-to-Vault role mapping
  charts/judge/Chart.yaml
  charts/judge/charts/archivista-1.6.11.tgz
  charts/judge/charts/dapr-1.14.5.tgz
  charts/judge/charts/dex-0.17.3.tgz
  charts/judge/charts/fulcio-2.3.21.tgz
  charts/judge/charts/judge-ai-proxy-0.1.1.tgz
  charts/judge/charts/judge-api-1.6.11.tgz
  charts/judge/charts/judge-preflight-0.1.16.tgz
  charts/judge/charts/judge-web-1.6.2.tgz
  charts/judge/charts/kratos-1.6.22.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.3.tgz
  charts/judge/charts/localstack-0.1.10.tgz
  charts/judge/charts/postgresql-0.1.1.tgz
  charts/judge/charts/preview-router-0.1.0.tgz
  charts/judge/charts/tsa-1.6.3.tgz
  charts/judge/templates/secretstores.yaml
  charts/judge/values.yaml
Due: helm-deps-check, validate-service-urls, validate-database-separation, check-latest-tags

fix(fulcio): add required pod template labels to createcerts Job
  charts/fulcio/Chart.yaml
  charts/fulcio/templates/createcerts-job.yaml
  charts/judge/Chart.lock
  charts/judge/Chart.yaml
  charts/judge/charts/archivista-1.6.11.tgz
  charts/judge/charts/dapr-1.14.5.tgz
  charts/judge/charts/dex-0.17.3.tgz
  charts/judge/charts/fulcio-2.3.21.tgz
  charts/judge/charts/fulcio-2.3.22.tgz
  charts/judge/charts/judge-ai-proxy-0.1.1.tgz
  charts/judge/charts/judge-api-1.6.11.tgz
  charts/judge/charts/judge-preflight-0.1.16.tgz
  charts/judge/charts/judge-web-1.6.2.tgz
  charts/judge/charts/kratos-1.6.22.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.3.tgz
  charts/judge/charts/localstack-0.1.10.tgz
  charts/judge/charts/postgresql-0.1.1.tgz
  charts/judge/charts/preview-router-0.1.0.tgz
  charts/judge/charts/tsa-1.6.3.tgz
  charts/judge/tests/dex-oauth-config_test.yaml
  charts/judge/tests/domain-consistency_test.yaml
  charts/judge/tests/kratos-cookie-domain_test.yaml
  charts/judge/tests/kratos-ui-flows_test.yaml
  charts/judge/tests/oauth-return-urls_test.yaml
Due: helm-deps-check, check-latest-tags

test(fulcio): add Job template validation tests
  charts/fulcio/tests/createcerts-job_test.yaml
Due: helm-deps-check, check-latest-tags

fix: Use base domain for Kratos cookies to enable cross-subdomain access
  charts/judge/Chart.yaml
  charts/judge/charts/archivista-1.6.11.tgz
  charts/judge/charts/dapr-1.14.5.tgz
  charts/judge/charts/dex-0.17.3.tgz
  charts/judge/charts/fulcio-2.3.22.tgz
  charts/judge/charts/judge-ai-proxy-0.1.1.tgz
  charts/judge/charts/judge-api-1.6.11.tgz
  charts/judge/charts/judge-preflight-0.1.16.tgz
  charts/judge/charts/judge-web-1.6.2.tgz
  charts/judge/charts/kratos-1.6.22.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.3.tgz
  charts/judge/charts/localstack-0.1.10.tgz
  charts/judge/charts/postgresql-0.1.1.tgz
  charts/judge/charts/preview-router-0.1.0.tgz
  charts/judge/charts/tsa-1.6.3.tgz
  charts/judge/templates/_helpers.tpl
  charts/judge/tests/kratos-cookie-domain_test.yaml
Due: helm-deps-check, check-latest-tags

test: Add rendering test for staging-marketplace values baseline
  charts/judge/tests/staging-marketplace-rendering_test.yaml
Due: helm-deps-check, check-latest-tags

feat: Add istio merge helper to support global.istio config (helm golf)
  .gitignore
  charts/judge/Chart.yaml
  charts/judge/charts/archivista-1.6.11.tgz
  charts/judge/charts/dapr-1.14.5.tgz
  charts/judge/charts/dex-0.17.3.tgz
  charts/judge/charts/fulcio-2.3.22.tgz
  charts/judge/charts/judge-ai-proxy-0.1.1.tgz
  charts/judge/charts/judge-api-1.6.11.tgz
  charts/judge/charts/judge-preflight-0.1.16.tgz
  charts/judge/charts/judge-web-1.6.2.tgz
  charts/judge/charts/kratos-1.6.22.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.3.tgz
  charts/judge/charts/localstack-0.1.10.tgz
  charts/judge/charts/postgresql-0.1.1.tgz
  charts/judge/charts/preview-router-0.1.0.tgz
  charts/judge/charts/tsa-1.6.3.tgz
  charts/judge/templates/_helpers.tpl
  charts/judge/tests/staging-marketplace-rendering_test.yaml
  charts/judge/values.yaml
  tcr.sh
Due: helm-deps-check, validate-service-urls, validate-database-separation, check-latest-tags

feat: Add ServiceAccount helm golf for archivista and judge-api
  charts/archivista/Chart.yaml
  charts/archivista/templates/_helpers.tpl
  charts/archivista/templates/external-secret-database.yaml
  charts/archivista/templates/secret-database-dev.yaml
  charts/archivista/templates/serviceaccount.yaml
  charts/judge-api/Chart.yaml
  charts/judge-api/_helpers_test.go
  charts/judge-api/templates/_helpers.tpl
  charts/judge-api/templates/external-secret-database.yaml
  charts/judge-api/templates/secret-database-dev.yaml
  charts/judge-api/templates/serviceaccount.yaml
  charts/judge/Chart.lock
  charts/judge/Chart.yaml
  charts/judge/charts/archivista-1.6.11.tgz
  charts/judge/charts/archivista-1.6.12.tgz
  charts/judge/charts/dapr-1.14.5.tgz
  charts/judge/charts/dex-0.17.3.tgz
  charts/judge/charts/fulcio-2.3.22.tgz
  charts/judge/charts/judge-ai-proxy-0.1.1.tgz
  charts/judge/charts/judge-api-1.6.11.tgz
  charts/judge/charts/judge-api-1.6.12.tgz
  charts/judge/charts/judge-preflight-0.1.16.tgz
  charts/judge/charts/judge-web-1.6.2.tgz
  charts/judge/charts/kratos-1.6.22.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.3.tgz
  charts/judge/charts/localstack-0.1.10.tgz
  charts/judge/charts/postgresql-0.1.1.tgz
  charts/judge/charts/preview-router-0.1.0.tgz
  charts/judge/charts/tsa-1.6.3.tgz
Due: helm-deps-check, validate-external-secrets, check-latest-tags

feat: ServiceAccount helm golf for archivista and judge-api
  charts/archivista/Chart.yaml
  charts/archivista/templates/_helpers.tpl
  charts/judge-api/Chart.yaml
  charts/judge-api/templates/_helpers.tpl
  charts/judge/Chart.lock
  charts/judge/Chart.yaml
  charts/judge/charts/archivista-1.6.12.tgz
  charts/judge/charts/archivista-1.6.13.tgz
  charts/judge/charts/dapr-1.14.5.tgz
  charts/judge/charts/dex-0.17.3.tgz
  charts/judge/charts/fulcio-2.3.22.tgz
  charts/judge/charts/judge-ai-proxy-0.1.1.tgz
  charts/judge/charts/judge-api-1.6.12.tgz
  charts/judge/charts/judge-api-1.6.13.tgz
  charts/judge/charts/judge-preflight-0.1.16.tgz
  charts/judge/charts/judge-web-1.6.2.tgz
  charts/judge/charts/kratos-1.6.22.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.3.tgz
  charts/judge/charts/localstack-0.1.10.tgz
  charts/judge/charts/postgresql-0.1.1.tgz
  charts/judge/charts/preview-router-0.1.0.tgz
  charts/judge/charts/tsa-1.6.3.tgz
  charts/judge/tests/serviceaccount-helm-golf_test.yaml
  charts/judge/tests/staging-marketplace-rendering_test.yaml
Due: helm-deps-check, check-latest-tags

helm: kratos ServiceAccount helm golf + template fixes (v1.6.23)
  charts/judge/Chart.lock
  charts/judge/Chart.yaml
  charts/judge/charts/archivista-1.6.13.tgz
  charts/judge/charts/dapr-1.14.5.tgz
  charts/judge/charts/dex-0.17.3.tgz
  charts/judge/charts/fulcio-2.3.22.tgz
  charts/judge/charts/judge-ai-proxy-0.1.1.tgz
  charts/judge/charts/judge-api-1.6.13.tgz
  charts/judge/charts/judge-preflight-0.1.16.tgz
  charts/judge/charts/judge-web-1.6.2.tgz
  charts/judge/charts/kratos-1.6.22.tgz
  charts/judge/charts/kratos-1.6.23.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.3.tgz
  charts/judge/charts/localstack-0.1.10.tgz
  charts/judge/charts/postgresql-0.1.1.tgz
  charts/judge/charts/preview-router-0.1.0.tgz
  charts/judge/charts/tsa-1.6.3.tgz
  charts/kratos/Chart.yaml
  charts/kratos/templates/_helpers.tpl
  charts/kratos/templates/deployment-kratos.yaml
  charts/kratos/templates/rbac.yaml
  charts/kratos/values.yaml
Due: helm-deps-check, validate-service-urls, validate-database-separation, check-latest-tags

tcr: 12:09:17
  charts/archivista/Chart.yaml
  charts/archivista/templates/_helpers.tpl
  charts/dex/Chart.yaml
  charts/dex/templates/_helpers.tpl
  charts/fulcio/Chart.yaml
  charts/fulcio/templates/_helpers.tpl
  charts/judge-api/Chart.yaml
  charts/judge-api/templates/_helpers.tpl
  charts/judge/Chart.lock
  charts/judge/Chart.yaml
  charts/judge/charts/archivista-1.6.13.tgz
  charts/judge/charts/archivista-1.6.14.tgz
  charts/judge/charts/dapr-1.14.5.tgz
  charts/judge/charts/dex-0.17.4.tgz
  charts/judge/charts/dex-0.17.5.tgz
  charts/judge/charts/fulcio-2.3.23.tgz
  charts/judge/charts/fulcio-2.3.24.tgz
  charts/judge/charts/judge-ai-proxy-0.1.1.tgz
  charts/judge/charts/judge-api-1.6.13.tgz
  charts/judge/charts/judge-api-1.6.14.tgz
  charts/judge/charts/judge-preflight-0.1.16.tgz
  charts/judge/charts/judge-web-1.6.2.tgz
  charts/judge/charts/kratos-1.6.24.tgz
  charts/judge/charts/kratos-1.6.25.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.4.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.5.tgz
  charts/judge/charts/localstack-0.1.10.tgz
  charts/judge/charts/postgresql-0.1.1.tgz
  charts/judge/charts/preview-router-0.1.0.tgz
  charts/judge/charts/tsa-1.6.4.tgz
  charts/judge/charts/tsa-1.6.5.tgz
  charts/judge/templates/_helpers.tpl
  charts/judge/tests/image-repository-auto-fallback_test.yaml
  charts/judge/values.yaml
  charts/kratos-selfservice-ui-node/Chart.yaml
  charts/kratos-selfservice-ui-node/templates/_helpers.tpl
  charts/kratos/Chart.yaml
  charts/kratos/templates/_helpers.tpl
  charts/tsa/Chart.yaml
  charts/tsa/templates/_helpers.tpl
Due: helm-deps-check, validate-service-urls, validate-database-separation, check-latest-tags

test: Add Helm Golf #3 test suite for imagePullPolicy helper
  charts/judge/tests/image-pullpolicy-auto-fallback_test.yaml
Due: helm-deps-check, check-latest-tags

feat: Helm Golf #5 - Nil Handling for Image Configuration
  charts/archivista/Chart.yaml
  charts/archivista/values.yaml
  charts/dex/Chart.yaml
  charts/dex/values.yaml
  charts/fulcio/Chart.yaml
  charts/fulcio/values.yaml
  charts/judge-api/Chart.yaml
  charts/judge-api/values.yaml
  charts/judge/Chart.lock
  charts/judge/Chart.yaml
  charts/judge/charts/archivista-1.6.15.tgz
  charts/judge/charts/archivista-1.6.16.tgz
  charts/judge/charts/dapr-1.14.5.tgz
  charts/judge/charts/dex-0.17.6.tgz
  charts/judge/charts/dex-0.17.7.tgz
  charts/judge/charts/fulcio-2.3.25.tgz
  charts/judge/charts/fulcio-2.3.26.tgz
  charts/judge/charts/judge-ai-proxy-0.1.1.tgz
  charts/judge/charts/judge-api-1.6.15.tgz
  charts/judge/charts/judge-api-1.6.16.tgz
  charts/judge/charts/judge-preflight-0.1.16.tgz
  charts/judge/charts/judge-web-1.6.2.tgz
  charts/judge/charts/kratos-1.6.26.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.6.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.7.tgz
  charts/judge/charts/localstack-0.1.10.tgz
  charts/judge/charts/postgresql-0.1.1.tgz
  charts/judge/charts/preview-router-0.1.0.tgz
  charts/judge/charts/tsa-1.6.6.tgz
  charts/judge/charts/tsa-1.6.7.tgz
  charts/kratos-selfservice-ui-node/Chart.yaml
  charts/kratos-selfservice-ui-node/values.yaml
  charts/tsa/Chart.yaml
  charts/tsa/values.yaml
Due: helm-deps-check, validate-service-urls, validate-database-separation, check-latest-tags

feat(helm-golf): Add global.argocd.enabled configuration
  charts/judge/Chart.yaml
  charts/judge/charts/archivista-1.6.16.tgz
  charts/judge/charts/dapr-1.14.5.tgz
  charts/judge/charts/dex-0.17.7.tgz
  charts/judge/charts/fulcio-2.3.26.tgz
  charts/judge/charts/judge-ai-proxy-0.1.1.tgz
  charts/judge/charts/judge-api-1.6.16.tgz
  charts/judge/charts/judge-preflight-0.1.16.tgz
  charts/judge/charts/judge-web-1.6.2.tgz
  charts/judge/charts/kratos-1.6.26.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.7.tgz
  charts/judge/charts/localstack-0.1.10.tgz
  charts/judge/charts/postgresql-0.1.1.tgz
  charts/judge/charts/preview-router-0.1.0.tgz
  charts/judge/charts/tsa-1.6.7.tgz
  charts/judge/values.yaml
Due: helm-deps-check, validate-service-urls, validate-database-separation, check-latest-tags

feat(helm-golf): Add ArgoCD Job annotations helper
  charts/judge/Chart.yaml
  charts/judge/charts/archivista-1.6.16.tgz
  charts/judge/charts/dapr-1.14.5.tgz
  charts/judge/charts/dex-0.17.7.tgz
  charts/judge/charts/fulcio-2.3.26.tgz
  charts/judge/charts/judge-ai-proxy-0.1.1.tgz
  charts/judge/charts/judge-api-1.6.16.tgz
  charts/judge/charts/judge-preflight-0.1.16.tgz
  charts/judge/charts/judge-web-1.6.2.tgz
  charts/judge/charts/kratos-1.6.26.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.7.tgz
  charts/judge/charts/localstack-0.1.10.tgz
  charts/judge/charts/postgresql-0.1.1.tgz
  charts/judge/charts/preview-router-0.1.0.tgz
  charts/judge/charts/tsa-1.6.7.tgz
  charts/judge/templates/_helpers.tpl
Due: helm-deps-check, check-latest-tags

feat(helm-golf): Auto-inject ArgoCD annotations on fulcio createcerts Job
  charts/fulcio/Chart.yaml
  charts/fulcio/templates/_helpers.tpl
  charts/fulcio/templates/createcerts-job.yaml
  charts/judge/Chart.lock
  charts/judge/Chart.yaml
  charts/judge/charts/archivista-1.6.16.tgz
  charts/judge/charts/dapr-1.14.5.tgz
  charts/judge/charts/dex-0.17.7.tgz
  charts/judge/charts/fulcio-2.3.26.tgz
  charts/judge/charts/fulcio-2.3.27.tgz
  charts/judge/charts/judge-ai-proxy-0.1.1.tgz
  charts/judge/charts/judge-api-1.6.16.tgz
  charts/judge/charts/judge-preflight-0.1.16.tgz
  charts/judge/charts/judge-web-1.6.2.tgz
  charts/judge/charts/kratos-1.6.26.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.7.tgz
  charts/judge/charts/localstack-0.1.10.tgz
  charts/judge/charts/postgresql-0.1.1.tgz
  charts/judge/charts/preview-router-0.1.0.tgz
  charts/judge/charts/tsa-1.6.7.tgz
  charts/judge/templates/_helpers.tpl
Due: helm-deps-check, check-latest-tags

feat(helm-golf): Auto-disable kratos secret when using Vault
  charts/judge/Chart.lock
  charts/judge/Chart.yaml
  charts/judge/charts/archivista-1.6.16.tgz
  charts/judge/charts/dapr-1.14.5.tgz
  charts/judge/charts/dex-0.17.7.tgz
  charts/judge/charts/fulcio-2.3.27.tgz
  charts/judge/charts/judge-ai-proxy-0.1.1.tgz
  charts/judge/charts/judge-api-1.6.16.tgz
  charts/judge/charts/judge-preflight-0.1.16.tgz
  charts/judge/charts/judge-web-1.6.2.tgz
  charts/judge/charts/kratos-1.6.26.tgz
  charts/judge/charts/kratos-1.6.27.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.7.tgz
  charts/judge/charts/localstack-0.1.10.tgz
  charts/judge/charts/postgresql-0.1.1.tgz
  charts/judge/charts/preview-router-0.1.0.tgz
  charts/judge/charts/tsa-1.6.7.tgz
  charts/kratos/Chart.yaml
  charts/kratos/templates/secrets.yaml
Due: helm-deps-check, check-latest-tags

Fix: Kratos ExternalSecret + improved nil-safe helpers
  charts/fulcio/Chart.yaml
  charts/fulcio/templates/_helpers.tpl
  charts/judge/Chart.lock
  charts/judge/Chart.yaml
  charts/judge/charts/archivista-1.6.16.tgz
  charts/judge/charts/dapr-1.14.5.tgz
  charts/judge/charts/dex-0.17.7.tgz
  charts/judge/charts/fulcio-2.3.27.tgz
  charts/judge/charts/fulcio-2.3.28.tgz
  charts/judge/charts/judge-ai-proxy-0.1.1.tgz
  charts/judge/charts/judge-api-1.6.16.tgz
  charts/judge/charts/judge-preflight-0.1.16.tgz
  charts/judge/charts/judge-web-1.6.2.tgz
  charts/judge/charts/kratos-1.6.27.tgz
  charts/judge/charts/kratos-1.6.28.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.7.tgz
  charts/judge/charts/localstack-0.1.10.tgz
  charts/judge/charts/postgresql-0.1.1.tgz
  charts/judge/charts/preview-router-0.1.0.tgz
  charts/judge/charts/tsa-1.6.7.tgz
  charts/kratos/Chart.yaml
  charts/kratos/templates/external-secret-app.yaml
Due: helm-deps-check, validate-external-secrets, check-latest-tags

refactor: Remove 'Helm Golf' branding terminology
  charts/archivista/templates/_helpers.tpl
  charts/archivista/values.yaml
  charts/dex/values.yaml
  charts/fulcio/values.yaml
  charts/judge-api/templates/_helpers.tpl
  charts/judge-api/values.yaml
  charts/judge/TCR-LEARNINGS.md
  charts/judge/tests/image-pullpolicy-auto-fallback_test.yaml
  charts/judge/tests/image-repository-auto-fallback_test.yaml
  charts/judge/tests/serviceaccount-helm-golf_test.yaml
  charts/judge/values.yaml
  charts/kratos-selfservice-ui-node/values.yaml
  charts/kratos/templates/_helpers.tpl
  charts/tsa/values.yaml
Due: helm-deps-check, validate-service-urls, validate-database-separation, check-latest-tags

fix: remove GCP-specific registry defaults
  charts/judge/Chart.yaml
  charts/judge/charts/archivista-1.6.16.tgz
  charts/judge/charts/dapr-1.14.5.tgz
  charts/judge/charts/dex-0.17.7.tgz
  charts/judge/charts/fulcio-2.3.28.tgz
  charts/judge/charts/judge-ai-proxy-0.1.1.tgz
  charts/judge/charts/judge-api-1.6.16.tgz
  charts/judge/charts/judge-preflight-0.1.16.tgz
  charts/judge/charts/judge-web-1.6.2.tgz
  charts/judge/charts/kratos-1.6.28.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.7.tgz
  charts/judge/charts/localstack-0.1.10.tgz
  charts/judge/charts/postgresql-0.1.1.tgz
  charts/judge/charts/preview-router-0.1.0.tgz
  charts/judge/charts/tsa-1.6.7.tgz
  charts/judge/values.yaml
Due: helm-deps-check, validate-service-urls, validate-database-separation, check-latest-tags

Remove GCP-specific registry defaults from subcharts
  charts/judge-api/Chart.yaml
  charts/judge-api/values.yaml
  charts/judge-web/Chart.yaml
  charts/judge-web/templates/_helpers.tpl
  charts/judge-web/values.yaml
  charts/judge/Chart.lock
  charts/judge/Chart.yaml
  charts/judge/charts/archivista-1.6.16.tgz
  charts/judge/charts/dapr-1.14.5.tgz
  charts/judge/charts/dex-0.17.7.tgz
  charts/judge/charts/fulcio-2.3.28.tgz
  charts/judge/charts/judge-ai-proxy-0.1.1.tgz
  charts/judge/charts/judge-api-1.6.16.tgz
  charts/judge/charts/judge-api-1.6.17.tgz
  charts/judge/charts/judge-preflight-0.1.16.tgz
  charts/judge/charts/judge-web-1.6.2.tgz
  charts/judge/charts/judge-web-1.6.3.tgz
  charts/judge/charts/kratos-1.6.28.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.7.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.8.tgz
  charts/judge/charts/localstack-0.1.10.tgz
  charts/judge/charts/postgresql-0.1.1.tgz
  charts/judge/charts/preview-router-0.1.0.tgz
  charts/judge/charts/tsa-1.6.7.tgz
  charts/kratos-selfservice-ui-node/Chart.yaml
  charts/kratos-selfservice-ui-node/values.yaml
Due: helm-deps-check, validate-service-urls, validate-database-separation, check-latest-tags

docs: Add hardcoded values audit report
  HARDCODED-VALUES-AUDIT.md
Due: none

docs: Add values override solution to hardcoded values audit
  HARDCODED-VALUES-AUDIT.md
Due: none

docs: Rewrite README for AWS Marketplace customers
  README.md
Due: none

docs: remove duplication in README, keep global config as source of truth
  README.md
Due: none

docs: move istio config under global.istio for consistency
  README.md
Due: none

refactor: consolidate all Istio configuration under global.istio
  charts/judge/Chart.yaml
  charts/judge/charts/archivista-1.6.17.tgz
  charts/judge/charts/dapr-1.14.5.tgz
  charts/judge/charts/dex-0.17.7.tgz
  charts/judge/charts/fulcio-2.3.29.tgz
  charts/judge/charts/judge-ai-proxy-0.1.1.tgz
  charts/judge/charts/judge-api-1.6.18.tgz
  charts/judge/charts/judge-preflight-0.1.16.tgz
  charts/judge/charts/judge-web-1.6.4.tgz
  charts/judge/charts/kratos-1.6.30.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.9.tgz
  charts/judge/charts/localstack-0.1.10.tgz
  charts/judge/charts/postgresql-0.1.1.tgz
  charts/judge/charts/preview-router-0.1.1.tgz
  charts/judge/charts/tsa-1.6.8.tgz
  charts/judge/templates/_helpers.tpl
  charts/judge/templates/istio-gateway.yaml
  charts/judge/templates/istio-virtualservices.yaml
  charts/judge/templates/preview-certificate.yaml
  charts/judge/tests/dex-oauth-config_test.yaml
  charts/judge/tests/domain-consistency_test.yaml
  charts/judge/tests/kratos-cookie-domain_test.yaml
  charts/judge/tests/kratos-ui-flows_test.yaml
  charts/judge/tests/oauth-return-urls_test.yaml
  charts/judge/tests/staging-marketplace-rendering_test.yaml
  charts/judge/values.yaml
Due: helm-deps-check, validate-service-urls, validate-database-separation, check-latest-tags

docs: update README with consolidated global.istio configuration
  charts/judge/README.md
Due: helm-deps-check

feat: add smart defaults for localstack and postgresql based on global.dev
  charts/judge/Chart.lock
  charts/judge/Chart.yaml
  charts/judge/charts/archivista-1.6.17.tgz
  charts/judge/charts/dapr-1.14.5.tgz
  charts/judge/charts/dex-0.17.7.tgz
  charts/judge/charts/fulcio-2.3.29.tgz
  charts/judge/charts/judge-ai-proxy-0.1.1.tgz
  charts/judge/charts/judge-api-1.6.18.tgz
  charts/judge/charts/judge-preflight-0.1.16.tgz
  charts/judge/charts/judge-web-1.6.4.tgz
  charts/judge/charts/kratos-1.6.30.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.9.tgz
  charts/judge/charts/localstack-0.1.10.tgz
  charts/judge/charts/postgresql-0.1.1.tgz
  charts/judge/charts/preview-router-0.1.1.tgz
  charts/judge/charts/tsa-1.6.8.tgz
  charts/judge/values.yaml
Due: helm-deps-check, validate-service-urls, validate-database-separation, check-latest-tags

docs: update README to reflect smart defaults for dev infrastructure
  charts/judge/README.md
Due: helm-deps-check

refactor: disable judge-preflight by default
  charts/judge/Chart.yaml
  charts/judge/README.md
  charts/judge/charts/archivista-1.6.17.tgz
  charts/judge/charts/dapr-1.14.5.tgz
  charts/judge/charts/dex-0.17.7.tgz
  charts/judge/charts/fulcio-2.3.29.tgz
  charts/judge/charts/judge-ai-proxy-0.1.1.tgz
  charts/judge/charts/judge-api-1.6.18.tgz
  charts/judge/charts/judge-preflight-0.1.16.tgz
  charts/judge/charts/judge-web-1.6.4.tgz
  charts/judge/charts/kratos-1.6.30.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.9.tgz
  charts/judge/charts/localstack-0.1.10.tgz
  charts/judge/charts/postgresql-0.1.1.tgz
  charts/judge/charts/preview-router-0.1.1.tgz
  charts/judge/charts/tsa-1.6.8.tgz
  charts/judge/values.yaml
Due: helm-deps-check, validate-service-urls, validate-database-separation, check-latest-tags

test: Add two-tier testing strategy for smart defaults
  Makefile
  charts/judge/SMART-DEFAULTS.md
  charts/judge/tests/smart-defaults_test.yaml
  scripts/test_smart_defaults_integration.sh
Due: helm-deps-check, check-latest-tags

docs: Add smart defaults documentation to values and README
  charts/judge/Chart.yaml
  charts/judge/README.md
  charts/judge/charts/archivista-1.6.17.tgz
  charts/judge/charts/dapr-1.14.5.tgz
  charts/judge/charts/dex-0.17.7.tgz
  charts/judge/charts/fulcio-2.3.29.tgz
  charts/judge/charts/judge-ai-proxy-0.1.1.tgz
  charts/judge/charts/judge-api-1.6.18.tgz
  charts/judge/charts/judge-preflight-0.1.16.tgz
  charts/judge/charts/judge-web-1.6.4.tgz
  charts/judge/charts/kratos-1.6.30.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.9.tgz
  charts/judge/charts/localstack-0.1.10.tgz
  charts/judge/charts/postgresql-0.1.1.tgz
  charts/judge/charts/preview-router-0.1.1.tgz
  charts/judge/charts/tsa-1.6.8.tgz
  charts/judge/values.yaml
Due: helm-deps-check, validate-service-urls, validate-database-separation, check-latest-tags

feat(fulcio): Add global.fulcio.issuers configuration with TDD approach
  charts/fulcio/Chart.yaml
  charts/fulcio/templates/_helpers.tpl
  charts/fulcio/templates/fulcio-configmap.yaml
  charts/fulcio/tests/fulcio-configmap_test.yaml
  charts/judge/Chart.lock
  charts/judge/Chart.yaml
  charts/judge/charts/archivista-1.6.17.tgz
  charts/judge/charts/dapr-1.14.5.tgz
  charts/judge/charts/dex-0.17.7.tgz
  charts/judge/charts/fulcio-2.3.29.tgz
  charts/judge/charts/fulcio-2.3.30.tgz
  charts/judge/charts/judge-ai-proxy-0.1.1.tgz
  charts/judge/charts/judge-api-1.6.18.tgz
  charts/judge/charts/judge-preflight-0.1.16.tgz
  charts/judge/charts/judge-web-1.6.4.tgz
  charts/judge/charts/kratos-1.6.30.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.9.tgz
  charts/judge/charts/localstack-0.1.10.tgz
  charts/judge/charts/postgresql-0.1.1.tgz
  charts/judge/charts/preview-router-0.1.1.tgz
  charts/judge/charts/tsa-1.6.8.tgz
  charts/judge/values.yaml
Due: helm-deps-check, validate-service-urls, validate-database-separation, check-latest-tags

Remove Dex from Judge platform stack
  charts/judge/Chart.lock
  charts/judge/Chart.yaml
  charts/judge/charts/archivista-1.6.17.tgz
  charts/judge/charts/dapr-1.14.5.tgz
  charts/judge/charts/dex-0.17.7.tgz
  charts/judge/charts/fulcio-2.3.30.tgz
  charts/judge/charts/judge-ai-proxy-0.1.1.tgz
  charts/judge/charts/judge-api-1.6.18.tgz
  charts/judge/charts/judge-preflight-0.1.16.tgz
  charts/judge/charts/judge-web-1.6.4.tgz
  charts/judge/charts/kratos-1.6.30.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.9.tgz
  charts/judge/charts/localstack-0.1.10.tgz
  charts/judge/charts/postgresql-0.1.1.tgz
  charts/judge/charts/preview-router-0.1.1.tgz
  charts/judge/charts/tsa-1.6.8.tgz
  charts/judge/templates/_helpers.tpl
  charts/judge/templates/istio-virtualservices.yaml
  charts/judge/tests/dex-oauth-config_test.yaml
  charts/judge/tests/image-pullpolicy-auto-fallback_test.yaml
  charts/judge/tests/image-repository-auto-fallback_test.yaml
  charts/judge/tests/infrastructure-version-management_test.yaml
  charts/judge/tests/staging-marketplace-rendering_test.yaml
  charts/judge/values.yaml
Due: helm-deps-check, validate-service-urls, validate-database-separation, check-latest-tags

test: add PKI external secret tests for Fulcio and TSA
  charts/fulcio/tests/external-secret-pki_test.yaml
  charts/tsa/tests/external-secret-pki_test.yaml
Due: helm-deps-check, validate-external-secrets, check-latest-tags

bump: chart versions (PKI Vault integration foundation)
  charts/fulcio/Chart.yaml
  charts/fulcio/templates/_helpers.tpl
  charts/fulcio/templates/createcerts-job.yaml
  charts/fulcio/templates/fulcio-deployment.yaml
  charts/fulcio/tests/createcerts-job_test.yaml
  charts/fulcio/tests/external-secret-pki_test.yaml
  charts/judge/Chart.lock
  charts/judge/Chart.yaml
  charts/judge/charts/archivista-1.6.17.tgz
  charts/judge/charts/dapr-1.14.5.tgz
  charts/judge/charts/fulcio-2.3.30.tgz
  charts/judge/charts/fulcio-2.3.31.tgz
  charts/judge/charts/judge-ai-proxy-0.1.1.tgz
  charts/judge/charts/judge-api-1.6.18.tgz
  charts/judge/charts/judge-preflight-0.1.16.tgz
  charts/judge/charts/judge-web-1.6.4.tgz
  charts/judge/charts/kratos-1.6.30.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.9.tgz
  charts/judge/charts/localstack-0.1.10.tgz
  charts/judge/charts/postgresql-0.1.1.tgz
  charts/judge/charts/preview-router-0.1.1.tgz
  charts/judge/charts/tsa-1.6.8.tgz
  charts/judge/charts/tsa-1.6.9.tgz
  charts/tsa/Chart.yaml
  charts/tsa/templates/_helpers.tpl
  charts/tsa/templates/tsa-configmap.yaml
  charts/tsa/templates/tsa-deployment.yaml
  charts/tsa/tests/external-secret-pki_test.yaml
Due: helm-deps-check, validate-external-secrets, check-latest-tags

fix: Resolve ArgoCD sync failures for ExternalSecrets and cluster-scoped resources
  charts/archivista/Chart.yaml
  charts/archivista/templates/external-secret-database.yaml
  charts/dapr/crds/components.yaml
  charts/dapr/crds/configuration.yaml
  charts/dapr/crds/httpendpoints.yaml
  charts/dapr/crds/resiliency.yaml
  charts/dapr/crds/subscription.yaml
  charts/dex/Chart.yaml
  charts/dex/values.yaml
  charts/judge-api/Chart.yaml
  charts/judge-api/templates/external-secret-database.yaml
  charts/judge-preflight/Chart.yaml
  charts/judge-preflight/templates/job-preflight.yaml
  charts/judge-preflight/values.yaml
  charts/judge/Chart.lock
  charts/judge/Chart.yaml
  charts/judge/charts/archivista-1.6.17.tgz
  charts/judge/charts/archivista-1.6.18.tgz
  charts/judge/charts/dapr-1.14.5.tgz
  charts/judge/charts/fulcio-2.3.31.tgz
  charts/judge/charts/judge-ai-proxy-0.1.1.tgz
  charts/judge/charts/judge-api-1.6.18.tgz
  charts/judge/charts/judge-api-1.6.19.tgz
  charts/judge/charts/judge-preflight-0.1.16.tgz
  charts/judge/charts/judge-preflight-0.1.17.tgz
  charts/judge/charts/judge-web-1.6.4.tgz
  charts/judge/charts/kratos-1.6.30.tgz
  charts/judge/charts/kratos-1.6.31.tgz
  charts/judge/charts/kratos-selfservice-ui-node-1.6.9.tgz
  charts/judge/charts/localstack-0.1.10.tgz
  charts/judge/charts/postgresql-0.1.1.tgz
  charts/judge/charts/preview-router-0.1.1.tgz
  charts/judge/charts/tsa-1.6.9.tgz
  charts/judge/templates/secretstores.yaml
  charts/kratos/Chart.yaml
  charts/kratos/templates/external-secret-app.yaml
Due: helm-deps-check, validate-service-urls, validate-database-separation, validate-external-secrets, check-latest-tags

Path conditions:
  helm-deps-check: any of: ^charts/
  validate-service-urls: any of: ^charts/.*values.*\.yaml$
  validate-database-separation: any of: ^charts/.*values.*\.yaml$
  validate-external-secrets: any of: ^charts/.*external-secret.*\.yaml$
  check-latest-tags: any of: ^charts/.*\.yaml$
